/* * {
  border: 1px solid red;
} */
.main-container {
  /* height: 100vh; */
}

/* nav bar styling */

.input-group-text {
  border-radius: 30px;
}
.form-control {
  border-radius: 30px;
}
form {
  width: 80%;
}

.navbar {
  height: 10vh;

  background-color: #0466c8;
}

/*inbox email styling*/

.email-bar-nav {
  background-color: #0466c8;
}
.email-bar-nav .input-group {
  width: 90%;
}
/* .email-bar-nav * {
  border: 1px solid red;
} */
.email-bar-type h5 {
  font-size: 0.8rem;
}

.email-bar-top {
  /* width: 90%; */
}
.inbox-container {
  height: 45vh;

  background-color: #ffffff;
}
.email-info h5,
h4 {
  font-size: 0.9rem;
}

.email-time {
  display: flex;
  justify-content: flex-end;
}

.email-description {
  width: 90%;
  color: grey;
  font-size: 0.9rem;
  padding: 2px;
  margin: 2px;
}

/* opened email styling*/

.opened-email {
  /* background-color: #0466c8; */
  height: 50%;
}

.tags {
  margin: 0;
  border-bottom: 2px solid #ffffff;
  background-color: #0466c8;
}
.opened-icons {
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
  padding: 5px;
}

.opened-from {
  font-size: 0.6rem;
  padding: 5px;
}

.opened-email-description {
  color: black;
  font-size: 0.8rem;
  border: 1px solid black;
  height: 80%;
  width: 90%;
}
.opened-email-description p {
  width: 95%;
}
.send-email {
  height: 21vh;
}
.email-details {
  height: 21vh;
}
.textarea-container {
  width: 100%;
  height: 100%;
  align-items: center;
}
textarea {
  width: 90%;
  height: 90%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* media view ports*/
@media (min-width: 992px) {
  .navbar {
    height: 100vh;
  }
  .inbox-container {
    height: 100vh;
  }
  .opened-email {
    height: 100vh;
  }
}
