* {
  border: 1px solid red; /* Debugging border, remove this line in production */
  box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

.main-container {
  height: 100vh;
}

/* Navbar styling */
.input-group-text {
  border-radius: 30px;
}
.form-control {
  border-radius: 30px;
}
form {
  width: 80%;
}

.navbar {
  height: 10vh;
  background-color: #0466c8;
}

.sidebar-circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.sidebar-compose-div button {
  border: 2px solid white;
}

/* Inbox email styling */
.email-bar-nav {
  background-color: #0466c8;
}
.email-bar-nav .input-group {
  width: 90%;
}

.email-bar-type h5 {
  font-size: 0.8rem;
}

.email-bar-top {
  /* width: 90%; */ /* Uncomment if required */
}
.inbox-container {
  height: 45vh;
  background-color: #ffffff;
}
.email-info,
h4 {
  font-size: 0.9rem;
}
.email-time {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.email-description {
  width: 80%;
  color: grey;
  font-size: 0.9rem;
  padding: 2px;
  margin: 2px;
}
.email-inbox-container {
  border-bottom: 1px solid grey;
}

.email-description-icons {
  width: 20%;
}
.email-description-icons input {
  margin-right: 5px;
}

.email-inbox-div {
  border-top: 1px solid grey;
}
#one {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Opened email styling */
.opened-email-info {
  width: 90%;
  font-size: 0.8rem;
  padding-right: 10px;
}
.linkedin-logo {
  width: 10%;
}

.tags {
  margin: 0;
  border-bottom: 2px solid #ffffff;
  background-color: #0466c8;
}
.opened-icons {
  font-size: 0.9rem;
}

.opened-from {
  font-size: 0.6rem;
  padding: 5px;
}
.opened-email-description {
  color: black;
  font-size: 0.8rem;
  border: 1px solid lightgray;
}
.opened-email-description p {
  font-size: 0.7rem;
}

textarea {
  border: none;
}

.textarea-container {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.send-link {
  font-size: 1.4rem;
}
.reply-button {
  background-color: #0466c8;
  border-radius: 5px;
  color: #ffffff;
  width: 25%;
  font-size: 0.8rem;
  height: 70%;
}

/* Media viewports */
@media (min-width: 992px) {
  /* Custom styles for viewport width 992px and above */
}

@media (min-width: 768px) {
  /* Custom styles for viewport width 768px and above */
}

@media (min-width: 576px) {
  /* Custom styles for viewport width 576px and above */
}
