/* * {
  border: 1px solid red;
} */

body,
html {
  height: 100%;
}

.main-container {
  height: 100%;
}

/* nav bar styling */

.input-group-text {
  border-radius: 30px;
}
.form-control {
  border-radius: 30px;
}

.navbar {
  height: 10%;
  background-color: #0466c8;
}

.searchbar-hamburger {
  height: 100%;
}

.sidebar-circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.sidebar-compose-div button {
  border: 2px solid white;
}

/*inbox email styling*/

.email-bar-nav {
  background-color: #0466c8;
}
.email-bar-nav .input-group {
  width: 90%;
}

.email-bar-type h5 {
  font-size: 0.8rem;
}

.inbox-container {
  height: 45%;
  background-color: #ffffff;
}

.email-info,
h4 {
  font-size: 0.9rem;
}

.email-time {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.email-description {
  width: 80%;
  color: grey;
  font-size: 0.9rem;
  padding: 2px;
  margin: 2px;
}

.email-inbox-container {
  border-bottom: 1px solid grey;
}

.email-description-icons {
  width: 20%;
}
.email-description-icons input {
  margin-right: 5px;
}

.email-inbox-div {
  border-top: 1px solid grey;
}
#one {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* opened email styling*/

.opened-email-info {
  width: 90%;
  font-size: 0.8rem;
  padding-right: 10px;
}

.linkedin-logo {
  width: 10%;
}

.opened-email {
  height: 45%;
}

.tags {
  margin: 0;
  border-bottom: 2px solid #ffffff;
  background-color: #0466c8;
  height: 10%;
}
.opened-email-container {
  height: 90%;
}
.opened-icons {
  font-size: 0.9rem;
}

.opened-from {
  font-size: 0.6rem;
  padding: 5px;
}

.opened-email-description {
  color: black;
  font-size: 0.8rem;
  border: 1px solid lightgray;
  height: 90%;
}
.opened-email-description p {
  font-size: 0.7rem;
}

textarea {
  border: none;
}

.textarea-container {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 90%;
}
.send-link {
  font-size: 1.4rem;
}
.reply-button {
  background-color: #0466c8;
  border-radius: 5px;
  color: #ffffff;
  width: 25%;
  font-size: 0.8rem;
  height: 70%;
}
/* media view ports*/

@media (min-width: 768px) {
  .inbox-container {
    height: 90%;
  }
  .opened-email {
    height: 90%;
  }
  .tags {
    height: 5%;
  }
  .opened-email-container {
    height: 95%;
  }
}
@media (min-width: 992px) {
  .inbox-container {
    height: 100%;
  }
  .opened-email {
    height: 100%;
  }
  .navbar {
    height: 100%;
  }
}
